@import "core/settings";
@import "layout/_header";

body {
margin: 0;
}

.header__title {
display: flex;
flex-direction: row;
justify-content: center;
display: flex;
flex-direction: column;
justify-content: center;
}

.page__main {
display: flex;
flex-direction: row;
padding-top: 20px;
}

.input {
margin: 16px;
}

.btn {
width: 150px;
padding: 4px;
margin-left: 12px;
font-size: 16px;
border: solid 1px;
border-radius: 12px;
}
